<!DOCTYPE html>
<html>
<head>
  <title>Social aware assignment of passengers in Ridesharing</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div style="text-align: center">
  <h1>Social aware assignment of passengers in Ridesharing</h1>
  <form id="form" action="/result" method="POST"> 
    <label for="graph">Graph</label>
    <br>
    <textarea rows="4" cols="50" id="graph" name="graph"></textarea>
    <br>
    <label for="number">Number</label>
    <br>
    <input type="number" id="number" name="number">
    <br><br>
    <!-- Show pottential input-->
    <label for="first">Example:</label>
    <br>
    <label for="second">Graph: [(1, 2), (2, 3), (3, 4), (4, 5), (4, 6)]</label>
    <br>
    <label for="third">Number: 4</label>
    <br><br>     
    <button type="submit" onclick="submitForm()">Submit</button>
  </form> 
  <br>
  <div id="output"></div>
  <script>
    //* Return the result of the client and move to the result page
    function submitForm() {
        // Get the form data
        var graph = document.getElementById("graph").value;
        var number = document.getElementById("number").value;

        // Send a POST request to the server
        fetch("/result", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            body: JSON.stringify({
                graph: graph,
                number: number
            })
        })
        .then(response => {
            if (response.ok){
              window.location.href = response.url;
            } 
            else 
            {
              throw new Error('Something went wrong on api server!');
            }
        })
        .catch(error => {
            console.error(error);
        });
    }
  </script>
  </div>
</body>
</html>



